<div class="container mx-auto my-20 dark:bg-gray-900 p-10 rounded-md">
  <h2 class="text-center text-3xl text-white font-bold mb-10">New Project</h2>

  <%= form_with model: @project, url: projects_path do |form| %>
    <div class="mb-6">
      <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.text_field :name, class: "bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-900 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:text-white dark:focus:ring-purple-900 dark:focus:border-blue-500" %>
    </div>

    <div class="mb-6">
      <%= form.label :avatar, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.file_field :avatar, class: "block w-full text-lg text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"%>
    </div>

    <div class="mb-6">
      <%= form.label :images, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= form.file_field :images, class: "block w-full text-lg text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400", id: "multiple_files-file", multiple: true%>
    </div>

    <div class="mb-6">
      <%= form.label :body, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"%>
      <p class="my-2 text-xs text-green-600 dark:text-green-400">Use text-green-400 to color</p>
      <%= form.text_area :body, class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", rows:"20" %>
    </div>

    <div class="flex flex-row-reverse">
      <%= form.submit "Create", class: "cursor-pointer focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900", type: "submit" %>
    </div>
  <% end %>

</div>